---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import alexImage from "../assets/alex.jpg";
import georgegallery from "../assets/gg-art.png";
import buried from "../assets/buried.png";
import pafa from "../assets/pafa.png";
import { Icon } from 'astro-icon/components'
    
const meetingLinkURL = "https://calendly.com/alexdollard141/30min";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <!-- ============================================ -->
      <!--                 Hero                 -->
      <!-- ============================================ -->
      <section id="hero-1351">
        <div class="cs-container">
          <div class="cs-content">
            <h1 class="cs-title">
              <span class="cs-highlight-primary">Lean, Beautiful</span> Websites<br
              />For Your Small Business
            </h1>
            <p class="cs-text">
              Giving you a personal web partner so you never have to worry about
              your web presence again.
            </p>
            <a href={meetingLinkURL} class="cs-button-solid"
              >Book A Consultation</a
            >
          </div>
        </div>
        <!--Bubble Groups-->
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
        <!-- Background Image, background image added in the css at 1600px for parallax effect -->
      </section>
      <!-- ============================================ -->
      <!--                    Services                  -->
      <!-- ============================================ -->

      <section id="services-1359">
        <div class="cs-container">
          <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Let's Polish Your Online Presence.</h2>
            <h3 class="cs-subtitle">What I Offer:</h3>
          </div>
          <ul class="cs-card-group">
            <li class="cs-item">
              <a href="" class="cs-link">
                <Icon name="phonelink" height="72" width="72" class="card-icon"></Icon>
                <h3 class="cs-h3">
                  <span class="cs-span">Website Design &</span> Development
                </h3>
              </a>
              <picture class="cs-background"> </picture>
            </li>
            <li class="cs-item">
              <a href="" class="cs-link">
                <Icon name="equipment" height="72" width="72" class="card-icon"></Icon>
                <h3 class="cs-h3">
                  <span class="cs-span">Hosting &</span> Maintenance
                </h3>
              </a>
              <picture class="cs-background"> </picture>
            </li>
            <li class="cs-item">
              <a href="" class="cs-link">
                <Icon name="description" height="72" width="72" class="card-icon"></Icon>
                <h3 class="cs-h3">
                  <span class="cs-span">SEO-Optimized</span> Copy
                </h3>
              </a>
              <picture class="cs-background"> </picture>
            </li>
            <li class="cs-item">
              <a href="" class="cs-link">
                <Icon name="invert-colors" height="72" width="72" class="card-icon"></Icon>
                <h3 class="cs-h3">
                  <span class="cs-span">Custom Logo &</span> Brand Design
                </h3>
              </a>
              <picture class="cs-background"> </picture>
            </li>
            <li class="cs-item">
              <a href="" class="cs-link">
                <Icon name="offline-bolt" height="72" width="72" class="card-icon"></Icon>
                <h3 class="cs-h3">
                  <span class="cs-span">Lightning Fast</span> Page Speeds
                </h3>
              </a>
              <picture class="cs-background"> </picture>
            </li>
            <li class="cs-item">
              <a href="" class="cs-link">
                <Icon name="send" height="72" width="72" class="card-icon"></Icon>
                <h3 class="cs-h3">
                  <span class="cs-span">Data Migration</span>
                </h3>
              </a>
              <picture class="cs-background"> </picture>
            </li>
          </ul>
        </div>
      </section>
      <!-- ============================================ -->
      <!--                 Side By Side                 -->
      <!-- ============================================ -->

      <section id="sbs-1359">
        <div class="cs-container">
          <div class="cs-content">
            <h2 class="cs-title">Launching A Website Can Be Daunting.</h2>
            <h3 class="cs-h3">
              Do you take it on yourself? Do you hire an overseas developer? Or
              maybe see if AI can churn something out?
            </h3>
            <ul class="cs-bullet-points">
              <li>
                Doing it yourself involves a steep learning curve and the
                possibility of getting stuck.
              </li>
              <li>
                Hiring developers from overseas can leave you with a subpar
                product and a developer who's impossible to get in touch with.
              </li>
              <li>
                Using AI can get you something bland and uninspiring, while
                leaving you at the mercy of the giant tech companies for hosting
                and support.
              </li>
            </ul>
            <a href={meetingLinkURL} class="cs-button-solid"
              >Book A Consultation</a
            >
          </div>
        </div>
        <!--Since we cant use overflow:hidden on the section container to clip the bubbles when they overflow the edges we need to make a wrapper around the bubbles that are the same dimensions as the section container and add overflow: hidden to that element. We need to see the images overflow the section container, so this is the solution to that problem. If you swap out the bottom section with a different stitch, add padding-top: 120px no that section at a 37.5rem media query. If there isnt a hero stitch above this, add padding-bottomL 120px at a 37.5rem media query as well to account for the top picture overlapping the section above it. Hero sections have more space to work with so it's not that noticable, but if you add another regular section above this one, it will be too close to the other elements and they need the extra space -->
        <div class="cs-wrapper">
          <div class="cs-bubbles" aria-hidden="true"></div>
        </div>
      </section>
      <!-- ============================================ -->
      <!--              Side By Side Reverse            -->
      <!-- ============================================ -->

      <section id="sbsr-1279">
        <div class="cs-container">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset={alexImage.src} />
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset={alexImage.src} />
            <img
              loading="lazy"
              decoding="async"
              src={alexImage.src}
              alt="Alex in a Jiu Jitsu Gi"
              height="598"
              width="400"
            />
            <div class="image-description">
              Alex Dollard, Founder, in his natural environment on the jiu-jitsu
              mats.
            </div>
          </picture>
          <div class="cs-content">
            <div class="cs-flex">
              <span class="cs-topper">With 141 Web Studios. . .</span>
              <h2 class="cs-title">
                You Don't Just Get A Website.<br /> You Get A Web Partner.
              </h2>
            </div>
            <p class="cs-text">
              I will take the time to get to know your business thoroughly and
              understand exactly what you need. I code everything from scratch
              and don't use bloated drag-and-drop builders.
            </p>
            <p class="cs-text">
              This results in faster page speeds, a more unique and personalized
              design, and ultimately, more conversions and sales for your
              business.
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
          </div>
        </div>
      </section>

      <!-- ============================================ -->
      <!--                   Previous Work                    -->
      <!-- ============================================ -->

      <section id="pricing-2383">
        <div class="cs-container">
          <div class="cs-content">
            <h2 class="cs-title">Previous Work</h2>
          </div>
          <ul class="cs-card-group">
            <li class="cs-item">
              <div class="cs-wrapper">
                <div class="cs-flex">
                  <picture>
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset={pafa.src} />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset={pafa.src} />
                    <img
                      loading="lazy"
                      decoding="async"
                      src={pafa.src}
                      alt="screenshot of the Peter Anthony Fine Art website"
                      height="300"
                    />
                  </picture>
                </div>
                <a
                  href="https://peteranthonyfineart.com/"
                  class="cs-button-solid cs-price-button"
                  target="_blank">Visit Live Site</a
                >
              </div>
            </li>
            <li class="cs-item">
              <div class="cs-wrapper">
                <div class="cs-flex">
                  <picture>
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset={buried.src} />
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset={buried.src} />
                    <img
                      loading="lazy"
                      decoding="async"
                      src={buried.src}
                      alt="screenshot of the Buried in the Bones website"
                      height="300"
                    />
                  </picture>
                </div>
                <a
                  href="https://buriedinthebones.com/"
                  class="cs-button-solid cs-price-button"
                  target="_blank">Visit Live Site</a
                >
              </div>
            </li>
            <li class="cs-item">
              <div class="cs-wrapper">
                <div class="cs-flex">
                  <picture>
                    <!--Mobile Image-->
                    <source
                      media="(max-width: 600px)"
                      srcset={georgegallery.src}
                    />
                    <!--Tablet and above Image-->
                    <source
                      media="(min-width: 601px)"
                      srcset={georgegallery.src}
                    />
                    <img
                      loading="lazy"
                      decoding="async"
                      src={georgegallery.src}
                      alt="screenshot of the George Gallery Art website"
                      height="300"
                    />
                  </picture>
                </div>
                <a
                  href="https://georgegalleryart.com/"
                  class="cs-button-solid cs-price-button"
                  target="_blank">Visit Live Site</a
                >
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- ============================================ -->
      <!--                    Three Steps                  -->
      <!-- ============================================ -->

      <section id="services-1359">
        <div class="cs-container">
          <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">How It Works:</h2>
          </div>
          <ul class="cs-card-group">
            <li class="cs-item">
              <a href="" class="cs-link">
                <h3 class="cs-h3">
                  <span class="cs-span">Step One:</span><br />
                </h3>
                <p class="cs-text">
                  Reach out and schedule a free, 60-minute "deep consultation."
                </p>
              </a>
              <picture class="cs-background"> </picture>
            </li>
            <li class="cs-item">
              <a href="" class="cs-link">
                <h3 class="cs-h3">
                  <span class="cs-span">Step Two:</span><br />
                </h3>
                <p class="cs-text">
                  We meet, either in person or virtually, and I get to know you,
                  your business, and your goals.
                </p>
              </a>
              <picture class="cs-background"> </picture>
            </li>
            <li class="cs-item">
              <a href="" class="cs-link">
                <h3 class="cs-h3">
                  <span class="cs-span">Step Three:</span><br />
                </h3>
                <p class="cs-text">
                  I get back to you with an outline of the project, a quote, and
                  a timeline.
                </p>
              </a>
              <picture class="cs-background"> </picture>
            </li>
          </ul>
          <a href="" class="cs-button-solid">Let's Get Started</a>
        </div>
      </section>
      <!-- ============================================ -->
      <!--                Call To Action                -->
      <!-- ============================================ -->

      <section id="cta-2443">
        <div class="cs-container">
          <div class="cs-content">
            <h2 class="cs-title">Let's chit chat</h2>
            <div class="cs-flex">
              <p class="cs-text">
                I want to hear about your business, project, or side-hustle.
                Let's build you exactly what you need.
              </p>
              <a href="" class="cs-button-solid">Let's Connect</a>
            </div>
          </div>
        </div>
        <picture class="cs-background">
          <!--Mobile Image-->
        </picture>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2rem);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes floatAnimation2 {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-3rem);
      }
      100% {
        transform: translateY(0);
      }
    }

    .cs-highlight-primary {
      color: var(--primary);
    }

    #hero-1351 {
      box-sizing: border-box;
      /* 250px - 500px - leaving extra space for the navigation */
      padding: clamp(5.625rem, 1vw, 25rem) 1rem 0;
      /* 200px - 250px */
      padding-bottom: clamp(4.5rem, 16.5vw, 14.625rem);
      overflow-y: visible;
      overflow-x: clip;
      position: relative;
      z-index: 10;
    }

    #hero-1351 .cs-container {
      width: var(--max-width);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    #hero-1351 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: var(--max-width-mobile);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      padding: 0 3rem;
    }
    #hero-1351 .cs-topper {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 0.5rem;
      color: var(--gray-lighter);
      display: block;
    }
    #hero-1351 .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 40ch;
      margin: 0 0 1rem 0;
      color: #000;
      position: relative;
    }
    #hero-1351 .cs-text {
      font-size: 1.25rem;
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      /* 464px - 622px */
      max-width: clamp(29rem, 60vw, 38.785rem);
      margin: 0 0 2.5rem 0;
      color: var(--gray-lighter);
    }

    #hero-1351 .cs-bubbles {
      /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
      font-size: min(2vw, 0.5em);
      position: absolute;
      z-index: -1;
    }
    #hero-1351 .cs-bubbles1 {
      width: 38.5em;
      height: 38.5em;
      /* changes to 172 at large desktop */
      top: 0;
      right: -11.875rem;
    }
    #hero-1351 .cs-bubbles1:before {
      /* white border bubble */
      content: "";
      width: 22.875em;
      height: 22.875em;
      background: transparent;
      border: 2px solid #d6d6dd;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: -100px;
      left: -100px;
      animation-name: floatAnimation;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      backdrop-filter: blur(16px);
    }
    #hero-1351 .cs-bubbles1:after {
      /* orange bubble */
      content: "";
      width: 34.125em;
      height: 34.125em;
      background: var(--primary-gradient);
      opacity: 0.8;
      border-radius: 50%;
      display: block;
      position: absolute;
      right: 0;
      bottom: 100px;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 10s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
    #hero-1351 .cs-bubbles2 {
      width: 20.625rem;
      height: 29.75rem;
      /* removed at larger desktop */
      bottom: -16.25rem;
      /* changes to 160px at larger desktop */
      left: -13.75rem;
    }
    #hero-1351 .cs-bubbles2:before {
      /* white border bubble */
      content: "";
      width: 20.625rem;
      height: 20.625rem;
      background: transparent;
      opacity: 1;
      border: 2px solid #d6d6dd;
      backdrop-filter: blur(16px);
      border-radius: 50%;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
    #hero-1351 .cs-bubbles2:after {
      /* orange bubble */
      content: "";
      width: 16.25rem;
      height: 16.25rem;
      background: var(--primary-gradient);
      opacity: 0.8;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 2.5rem;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
    #hero-1351 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    #hero-1351 .cs-background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* makes the top of the image start at the top of the parent */
      object-position: top;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  /* Tablet - 700px */
  @media only screen and (min-width: 700px) {
    #hero-1351 .cs-bubbles {
      font-size: 1em;
    }
    #hero-1351 .cs-bubbles1 {
      /* changes to auto at large desktop */
      right: -26.75rem;
    }

    #hero-1351 .cs-content {
      max-width: var(--max-width);
    }
  }
  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #hero-1351 .cs-bubbles1 {
      /* 200px - 450px */
      margin-left: clamp(12.5rem, 20vw, 28.125rem);
      top: 10.75rem;
      right: auto;
      left: 50%;
    }
  }
  /* Large Desktop Parallax Effect - 1600px */

  /* Larger Desktop - 1800px */
  @media only screen and (min-width: 112.5rem) {
    #hero-1351 .cs-bubbles2 {
      margin-right: 50rem;
      top: 13.125rem;
      right: 50%;
      bottom: auto;
      left: auto;
    }

    #hero-1351 .cs-content {
      max-width: var(--max-width);
    }
  }

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-1359 {
      padding: var(--sectionPadding);
      position: relative;
    }
    #sbs-1359 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 39.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      /* 16px - 20px */
      column-gap: clamp(1rem, 2.3vw, 1.25rem);
    }
    #sbs-1359 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;

      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    #sbs-1359 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbs-1359 .cs-h3 {
      /* 16px - 30px */
      font-size: clamp(1rem, 2.4vw, 1.75rem);
      line-height: 1.2em;
      font-weight: 700;
      max-width: 37ch;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 1.6vw, 1.5rem);
      color: var(--primary);
    }

    #sbs-1359 .cs-subtitle {
      font-size: 1.75rem;
      line-height: 1.2em;
      color: var(--primary);
    }

    */ #sbs-1359 .cs-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
    }
    #sbs-1359 .cs-bubbles {
      width: 29.625rem;
      height: 20.625rem;
      position: absolute;
      /* changes to 160px at larger desktop */
      left: -16.25rem;
      bottom: -8.75rem;
      z-index: 10;
    }
    #sbs-1359 .cs-bubbles:before {
      /* white border bubble */
      content: "";
      width: 20.625rem;
      height: 20.625rem;
      background: transparent;
      border: 1px solid #1a1a1a;
      border-radius: 50%;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      animation-name: floatAnimation;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    #sbs-1359 .cs-bubbles:after {
      /* orange bubble */
      content: "";
      width: 16.25rem;
      height: 16.25rem;
      background: var(--primary);
      opacity: 0.15;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: 1.875rem;
      right: 0;
      z-index: -1;
      animation-name: floatAnimation2;
      animation-duration: 14s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    #sbs-1359 .cs-picture {
      width: 100%;
      height: 20.5rem;
      border-radius: 3rem;
      /* clips the corners of the img tag */
      overflow: hidden;
      display: block;
      position: relative;
    }
    #sbs-1359 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }

    #sbs-1359 .cs-bullet-points {
      text-align: left;
    }
  }
  /* Tablet - 600px */
  @media only screen and (min-width: 37.5rem) {
    #sbs-1359 {
      padding-bottom: 0;
    }
    #sbs-1359 .cs-container {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
    #sbs-1359 .cs-content {
      width: 85%;
      order: -1;
    }
    #sbs-1359 .cs-picture {
      width: 45%;
      max-width: 19.0625rem;
      margin-bottom: -3.75rem;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-1359 {
      padding-top: 0;
    }
    #sbs-1359 .cs-container {
      max-width: 80rem;
      flex-wrap: nowrap;
    }
    #sbs-1359 .cs-content {
      /* 80px - 140px */
      padding: clamp(5rem, 10vw, 8.75rem) 0;
      order: initial;
    }
    #sbs-1359 .cs-bubbles {
      /* reset at large deskop */
      left: -12.0625rem;
      bottom: -8.125rem;
    }
    #sbs-1359 .cs-picture {
      width: 37%;
      /* 230px - 340px */
      height: clamp(14.375rem, 24vw, 21.25rem);
    }
    #sbs-1359 .cs-picture1 {
      align-self: flex-start;
      margin-bottom: 0;
      margin-top: -3.75rem;
    }
    #sbs-1359 .cs-picture2 {
      align-self: flex-end;
    }
  }
  /* Large Desktop 1600px */
  @media only screen and (min-width: 100rem) {
    #sbs-1359 .cs-bubbles {
      margin-right: 31.25rem;
      left: auto;
      right: 50%;
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-1359 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 10;
    }
    #services-1359 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1359 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    #services-1359 .cs-card-group {
      margin: 0;
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    #services-1359 .cs-subtitle {
      font-size: 2rem;
      line-height: 1.2em;
      color: var(--primary);
    }

    #services-1359 .cs-item {
      text-align: center;
      list-style: none;
      width: 100%;
      height: 19.0625rem;
      margin: 0;
      padding: 0;
      background: var(--gray-gradient);
      border-radius: 1.5rem;
      /* clips background image corners */
      overflow: hidden;
      box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      grid-column: span 12;
      grid-row: span 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
    }
    #services-1359 .cs-item:hover .cs-background:before {
      background-color: var(--primary);
      opacity: 0.84;
    }
    #services-1359 .cs-item:hover [data-icon] {
      color: #000;
      transition: color 0.3s;
    }
    #services-1359 .cs-item:hover .cs-background img {
      transform: scale(1.2);
    }
    #services-1359 .cs-link {
      text-decoration: none;
      width: 100%;
      height: 100%;
      /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and widht of the link */
      padding: 1.5rem;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #services-1359 .cs-h3 {
      font-size: 1.5625rem;
      line-height: 1.2em;
      font-weight: bold;
      text-align: inherit;
      margin: 0.5rem 0;
      color: var(--bodyTextColorWhite);
      transition: color 0.3s;
    }
    #services-1359 .cs-span {
      /* forces the h3 to alwasy be two lines */
      display: block;
    }

    #services-1359 .cs-text {
      font-size: 1.2rem;
      color: var(--bodyTextColorWhite);
      line-height: 1.5rem;
    }
    #services-1359 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #services-1359 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;

      opacity: 0.4;
      top: 0;
      left: 0;
      z-index: 1;
      transition:
        background-color 0.3s,
        opacity 0.3s;
    }
  }
  /* Tablet - 600px */
  @media only screen and (min-width: 37.5rem) {
    #services-1359 {
      padding-top: 7.5rem;
    }
    #services-1359 .cs-item {
      grid-column: span 6;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #services-1359 .cs-content {
      text-align: left;
      align-items: flex-start;
    }
    #services-1359 .cs-item {
      grid-column: span 3;
    }
  }

  /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #pricing-2383 {
      padding: var(--sectionPadding);
      position: relative;
      background: var(--gray-gradient);
    }
    #pricing-2383 .cs-container {
      width: 100%;
      max-width: 80em;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }
    #pricing-2383 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      position: relative;
      z-index: 10;
    }
    #pricing-2383 .cs-title {
      margin: 0;
      color: #fff;
    }
    #pricing-2383 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: stretch;
      /* 16px - 20px */
      gap: clamp(1rem, 1.8vw, 1.25rem);
      position: relative;
      z-index: 10;
    }
    #pricing-2383 .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      max-width: 31.25rem;
      margin: 0;
      padding-top: 3.75rem;
      border-radius: 1rem;
      overflow: hidden;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      align-items: stretch;
      position: relative;
      z-index: 1;
    }
    #pricing-2383 .cs-item.cs-popular .cs-flex {
      border-color: var(--gray);
    }
    #pricing-2383 .cs-item.cs-popular .cs-price {
      color: var(--secondary);
    }
    #pricing-2383 .cs-item.cs-popular .cs-price-button {
      background-color: var(--primary);
      color: #fff;
      border: none;
    }
    #pricing-2383 .cs-item.cs-popular .cs-price-button:hover {
      color: #fff;
      background-color: #000;
    }
    #pricing-2383 .cs-wrapper {
      height: 100%;
      /* 24px - 48px top *
            /* 16px - 48px left & right */
      padding: clamp(1.25rem, 4vw, 3rem) clamp(1rem, 5vw, 3rem);
      border-radius: 1rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
    }
    #pricing-2383 .cs-flex {
      /* 126px - 170px */
      min-height: clamp(7.875rem, 10vw, 10.625rem);
      /* 24px - 32px */
      margin-bottom: clamp(1.5rem, 3vw, 2rem);
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #d2d8df;
    }
    #pricing-2383 .cs-package {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.4vw, 1.25rem);
      line-height: 1.2em;
      text-align: inherit;
      font-weight: 700;
      margin: 0 0 0.5rem 0;
      color: var(--headerColor);
      display: block;
    }
    #pricing-2383 .cs-desc {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      font-weight: 400;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 2vw, 1.5rem);
      color: var(--bodyTextColor);
      display: block;
    }
    #pricing-2383 .cs-item-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      margin: 0 0 2rem;
      color: var(--bodyTextColor);
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #pricing-2383 .cs-item {
      grid-column: span 4;
    }
  }

  /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1279 {
  padding: var(--sectionPadding);
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #sbsr-1279 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 53.125rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      /* 48px - 108px */
      gap: clamp(3rem, 5vw, 6.75rem);
    }
    #sbsr-1279 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      /* sends it to the bottom in the 2nd position */
      order: 2;
    }

    #sbsr-1279 .cs-title {
      max-width: 20ch;
    }
    #sbsr-1279 .cs-text {
      margin-bottom: 1rem;
    }
    #sbsr-1279 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbsr-1279 .cs-button-solid {
      margin-right: auto;
    }
    #sbsr-1279 .cs-picture {
      position: relative;
    }

    #sbsr-1279 .image-description {
      background-color: var(--bodyTextColorWhite);
      color: var(--bodyTextColor);
      font-size: 0.875rem;
      line-height: 1.5em;
      padding: 1rem;
      border-radius: 0.5rem;
      max-width: 190px;
      position: absolute;
      bottom: 2rem;
      right: 1rem;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #sbsr-1279 .cs-content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 2rem;
    }
    #sbsr-1279 .cs-flex {
      width: 45%;
    }
    #sbsr-1279 .cs-title {
      margin: 0;
    }
    #sbsr-1279 .cs-text {
      width: 50%;
    }
    #sbsr-1279 .cs-button-solid {
      margin-right: auto;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbsr-1279 {
      /* moved padding back to the section container */
      padding: var(--sectionPadding);
    }
    #sbsr-1279 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    #sbsr-1279 .cs-content {
      width: 100%;
      max-width: 27.0625rem;
      margin: 0;
      flex-direction: column;
      row-gap: 0;
      order: 1;
    }
    #sbsr-1279 .cs-flex {
      width: 100%;
    }
    #sbsr-1279 .cs-title {
      margin: 0 0 1rem 0;
      color: var(--headerColor);
    }
    #sbsr-1279 .cs-text {
      width: 100%;
    }
    #sbsr-1279 .cs-picture {
      max-width: 46.125rem;
      position: relative;
    }
  }

  /*-- -------------------------- -->
<---       Call To Action       -->
<--- -------------------------- -*/

  /* Mobile */
  @media only screen and (min-width: 0rem) {
    #cta-2443 {
      padding: var(--sectionPadding);
      background: var(--gray-gradient);
      position: relative;
      z-index: 1;
    }
    #cta-2443 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
    }
    #cta-2443 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      gap: 2rem;
    }
    #cta-2443 .cs-title {
      font-size: clamp(3.8125rem, 8vw, 6.5rem);
      margin: 0;
      color: var(--bodyTextColorWhite);
      flex: none;
    }
    #cta-2443 .cs-text {
      margin-bottom: 1rem;
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
    }
    #cta-2443 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #cta-2443 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #cta-2443 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.08;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cta-2443 .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    #cta-2443 .cs-flex {
      max-width: 23.25rem;
    }
  }
</style>
